{% extends "base.html" %}

{% block title_block %} Dogs & Puppies Adoption {% endblock %}


{% block head %}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    .navbar {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #B55BA4;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100000;
        padding: 0 20px;
    }

    .logo img {
        margin-right: 50px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .box a {
        color: #6a0dad;
    }

    .box a:hover {
        font-size: larger;
    }

    .allAbout,
    .ContactUs,
    .AboutUs,
    .login,
    .signup {
        border: none;
        outline: none;
        padding: 6px;
        border-radius: 40px;
        width: 120px;
        text-align: center;
        background-color: #E5C0D1;
        color: purple;
        font-size: medium;
        font-weight: bolder;
        text-decoration: none;
        cursor: pointer;
        transition: font-size 0.3s;
    }


    .allAbout a,
    .ContactUs a,
    .AboutUs a,
    .login a,
    .signup a {
        color: #911693;
        text-decoration: none;
    }

    .allAbout:hover,
    .ContactUs:hover,
    .AboutUs:hover,
    .login:hover,
    .signup:hover {
        font-size: large;
    }

    .logo img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    body {
        font-family: Arial, sans-serif;
        overflow-x: hidden;
        background-color:#3e0950;
        color: white;
    }

    .logo img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .dropdown-container {
        position: relative;
        display: flex;
        /* justify-content: flex-start; */
    }

    .dropdown-container .dropdown-menu {
        position: fixed;
    }

    #dropdown-toggle {
        display: none;
    }

    .dropdown-label {
        cursor: pointer;
        background-color: white;
        padding: 10px 15px;
        border-radius: 5px;
        color: purple;
        font-weight: bold;
        display: inline-block;
        margin-left: 10px;
        border: 1px solid #911693;
    }

    .dropdown-label:hover {
        background-color: #E5C0D1;
    }

    .dropdown-menu {
        display: none;
        /* position: fixed; */
        top: 100px;
        /* Directly below navbar */
        left: 0;
        width: 100vw;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
        transition: all 0.3s ease-in-out;
    }

    #dropdown-toggle:checked~.dropdown-menu,
    .dropdown-container:hover .dropdown-menu,
    .dropdown-menu:hover {
        display: flex;
    }

    .option {
        flex: 1;
        margin-left: 10px;
        text-align: center;
        padding: 20px;
        background: #3E043B;
        color: white;
        cursor: pointer;
        transition: background 0.3s;
        font-size: 16px;
        border-right: 1px solid #5c0d8a;
    }

    .option:last-child {
        border-right: none;
    }

    .option:hover {
        background: #911693;
        color: white;
    }

    .sub-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 30%;
        background: #6a0dad;
        color: rgb(255, 255, 255);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        min-width: 150px;
        /* z-index: 1000; */
    }

    .option:hover .sub-dropdown {
        display: block;
    }

    .sub-option {
        padding: 10px;
        background: #6a0dad;
        color: pink;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.3s;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .sub-option:last-child {
        border-bottom: none;
    }

    .sub-option:hover {
        background: #3E043B;
        color: pink;
    }

    .option {
        position: relative;
    }

    main {
        padding-top: 210px;
        /* Ensure enough space below navbar */
        overflow: hidden;
    }

    .x1 {
        margin-left: 100px;
        padding: 20px;
    }



    .x1 h1 {
        font-size: 50px;
    }

    .x1 h1:hover {
        text-decoration: underline;
        color: #911693;
    }

    .y1 {
        padding: 45px;
        width: 1170px;
        height: 320px;
        background-color: whitesmoke;
        box-shadow: 3px 3px 6px gray;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;

    }

    .y1 p {
        line-height: 2;
        color: #4a0a6e;
    }

    .x2,
    .x6 {
        width: 1080px;
        height: 390px;
        padding: 30px;
        margin-left: 115px;
        background-color: whitesmoke;
        box-shadow: 3px 3px 6px gray;
        border-radius: 10px;
    }

    .x2 img,
    .x6 img {
        margin-left: 0px;
        margin-right: 0px;
        width: 980px;
        height: 300px;
    }

    .x3,
    .x4,
    .x5 {
        margin-left: 118px;
    }

    .x3 h1:hover,
    .x4 h1:hover,
    .x5 h1:hover {
        text-decoration: underline;
        color: #911693;
    }

    .y2,
    .y3,
    .y4 {
        display: flex;
        gap: 30px;
        /* padding: 20px; */
    }

    .y2 .card,
    .y3 .card {
        width: 370px;
        height: 420px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        position: relative;
        transition: 0.3s ease-in-out;
    }

    .y4 .card {
        width: 370px;
        height: 380px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        position: relative;
        transition: 0.3s ease-in-out;
    }

    .y2 .card:hover,
    .y3 .card:hover,
    .y4 .card:hover {
        box-shadow: 6px 6px 15px #4a0a6e;
        transform: translateY(-5px);
    }

    .y2 .card img,
    .y3 .card img,
    .y4 .card img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .y2 .card p,
    .y3 .card p {
        font-size: 16px;
        font-weight: bold;
        color: #6a0dad;
        padding: 10px;
    }


    .y4 .card p {
        font-size: 25px;
        font-weight: bolder;
        color: #6a0dad;
        padding: 40px;
    }

    .y2 .card .z1,
    .y3 .card .z2 {
        font-size: 24px;
        font-weight: bold;
        color: #6a0dad;
        padding: 10px;
    }

    .y4 .card .heart-icon {
        position: absolute;
        bottom: 10px;
        right: 5px;
        /* background-color: gainsboro; */
        /* border-radius: 50%; */
        padding: 5px;
        width: 40px;
        height: 30px;
    }


    .y4 .card .heart-icon i {
        width: 20px;
        height: 20px;
        color: #b01274;
        padding-right: 3px;

    }

    .y4 .card .heart-icon i:hover {
        color: #6a0dad;
    }

    .more-pets {
        width: 370px;
        height: 380px;
        background: #6a0dad;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .more-pets:hover {
        box-shadow: 6px 6px 15px #4a0a6e;
        transform: translateY(-5px);
    }

    .more-pets p {
        margin: 70px 20px;
        font-size: 20px;
    }

    .more-pets i {
        font-size: 100px;
        margin-top: 20px;
    }

    .more-pets .meet-btn {
        background: white;
        color: #6a0dad;
        padding: 8px 15px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
    }

    .more-pets .meet-btn:hover {
        background: #ddd;
    }




    footer {
        background-color: #5c0d8a;
        color: white;
        padding: 20px;
        bottom: 0px;
        font-family: Arial, sans-serif;
        margin-top: 190px;

    }

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        padding: 5px;
    }

    .top-bar img {
        height: 45px;
        margin-right: 10px;
        width: 70px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
    }

    .footer-column {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }

    .footer-column h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-column a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .footer-column a:hover {
        text-decoration: underline;
    }

    .newsletter-box {
        background-color: #f3e6f7;
        padding: 20px;
        border-radius: 10px;
        color: #5c0d8a;
        text-align: center;
        max-width: 300px;
    }

    .signup-btn {
        background-color: #5c0d8a;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 10px;
    }

    .signup-btn:hover {
        background-color: #4a0a6e;
    }

    .bottom-bar {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;

    }

    .bottom-bar p {
        font-weight: bold;
    }

    .social-icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

    }

    .social-icons a {
        color: white;
        margin: 10px;
    }

    .social-icons a:hover {
        font-size: larger;
    }
</style>
{% endblock %}




{% block main_block %}
<div class="x1">
    <h1>Dog & Puppy Adoption</h1>
    <br>
    <div class="y1">
        <p>Ready to add a furry friend to your family? Our comprehensive articles cover everything you need to

            know about adopting a dog or puppy, from finding the best organization to understanding the adoption

            process. Our team of experts and experienced animal advocates are here to guide you every step of

            the way and help you find the perfect canine companion for your home. Whether you’re looking for a

            playful puppy or a laid-back senior dog, there’s a wide variety of adoptable dogs out there, each

            with its unique charm, and we’re here to assist you throughout the process. Read our articles today

            and open your heart to the possibilities of finding your perfect canine companion!</p>

        <img src="https://imgs.search.brave.com/LhBhqf71bWASUL_sJX59eQP5BEme74zHl61rDZ6w134/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI0/ODQ4NjQ0NC9waG90/by9oYXBweS1jb3Vw/bGUtcGxheWluZy13/aXRoLXRoZWlyLWRv/Zy5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9VTJrY2p1aEVl/MzlTc3FhZUNPSlBG/QnhySDN0eGJMMUl5/U1RoZWhKSTRHZz0"
            alt="">
    </div>


</div>

<br>

<div class="x2">
    <img src="https://media.istockphoto.com/id/1186973591/photo/homeless-row-of-dogs-to-adopt.jpg?s=612x612&w=0&k=20&c=YLPEHFI2xVGexYDhPBQmpN1d1zulN7WvRCguGAxspdc="
        alt="ad">
</div>

<br><br>

<div class="x3">
    <h1>Finding a Dog</h1>
    <br>
    <div class="y2">
        <div class="card">
            <img src="https://imgs.search.brave.com/k7ak3r0rv0oHOQ4jdohPl8UDHzSzpq9AAeARHQ4zvu4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTQz/NjAwMzcwL3Bob3Rv/L2xpdHRsZS1wdXBw/aWVzLWluLXRoZS5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/MDNDSTYtNGRCRmdk/MjFSd0d3ZE94SnF5/aFQ3M1d3ZDcxTkg3/eDdnRjNibz0"
                alt="">
            <p>Finding a Dog</p>
            <p class="z1"><b>Things to Consider Before You Adopt a Dog</b></p>
        </div>

        <div class="card">
            <img src="https://media.istockphoto.com/id/1204274923/photo/beautiful-woman-doing-high-five-her-adorable-golden-retriever-dog-at-home-love-for-animals.jpg?s=612x612&w=0&k=20&c=as5UaFJ7NqF6aHKOOx0nrjzmyIHJFf0So9DdlNFJX6Y="
                alt="">

            <p>Finding a Dog</p>
            <p class="z1"><b>Cool Dog Names</b></p>
        </div>

        <div class="card">
            <img src="https://imgs.search.brave.com/LsEpZHlbQ8oMuuVHmMYtkmadNx1tsFg9AnKittHQS5Y/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAxLzIxLzA0LzAw/LzM2MF9GXzEyMTA0/MDA0Nl9saWlNZjQ2/QzlyMkRmRDJ5NzU3/RzFBejl6a0JzS3ox/dy5qcGc"
                alt="">

            <p>Finding a Dog</p>
            <p class="z1">Dogs and Puppies For Sale</p>
        </div>
    </div>
</div>

<br><br>

<div class="x4">
    <h1>Your New Dog</h1>
    <br>
    <div class="y3">
        <div class="card">
            <img src="https://imgs.search.brave.com/9IlPF8LBF38GbRGGbbCAal4NH8siHFKS0NPC8WVNlVk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAxLzE1LzA5Lzk0/LzM2MF9GXzExNTA5/OTQ5M19ZQ01xOXZy/Z1lxVXpvV3ZWRkxG/a2xNSVlRbmxsQ0Ri/YS5qcGc"
                alt="">

            <p>Your New Dog</p>
            <p class="z2">Dog Adoption Tips - Bringing Home a New Rescue Dog</p>
        </div>

        <div class="card">
            <img src="https://imgs.search.brave.com/Fkf3z9jbfeM017kt136F_jyNfwbqlzyxG-bDJtQD2zM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQz/MDg0MjExNC9waG90/by9iZXN0LWZyaWVu/ZHMuanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPU1iaV9GSWNB/NEhOOEZxcDdKMmlU/bl9lMm52b3pBRmds/cGVZV0p1Z2pNWUE9"
                alt="">

            <p>Your New Dog</p>
            <p class="z2"><b>Living with Both Cats and Dogs</b></p>
        </div>

        <div class="card">
            <img src="https://imgs.search.brave.com/hG6R1qmiArOGJXnGaoJ06ynupCyAQN6gwqWZC6nRZEQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNjU2/MjkyNzIyL3Bob3Rv/L2NvdXBsZS1vZi1j/b2NrZXItc3Bhbmll/bC1kb2dzLXBsYXlp/bmctb3V0ZG9vci5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/QjVycVAzc0drYkJ2/MHpYMC1FaUJFN2VP/YmJkVVFxUlBVWW5X/eGwtUXBIMD0"
                alt="">

            <p>Your New Dog</p>
            <p class="z2">How to Get a New Dog and Get Dogs to Bond</p>
        </div>
    </div>
</div>

<br><br>

<div class="x5">
    <h1>Pets Available for Adoption Nearby</h1>
    <br>
    <div class="y4">
        <div class="card">
            <img src="https://imgs.search.brave.com/e1fZaGMkDbmu4WGs2tX9HQPYklN5EOAYfz_I7EjOPxQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1iZS5jaGV3eS5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjIvMDkvMjcwOTU1/MzUvY3V0ZS1kb2dz/LXBlbWJyb2tlLXdl/bHNoLWNvcmdpLmpw/Zw"
                alt="">
            <div class="heart-icon">
                <i class="fa-regular fa-heart fa-2xl"></i>
            </div>
            <p>Ohana</p>
        </div>

        <div class="card">
            <img src="https://imgs.search.brave.com/xxxylTHJ_vYJcHsLLbeOJyKmoGu4-d3A5A0vYYdfd3M/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by92/ZXJ0aWNhbC12aWV3/LXdoaXRlLWdyYXkt/Z3J1bXB5LWNhdC1z/aXR0aW5nLWdyb3Vu/ZC1zdGFyaW5nLXJp/Z2h0LWNhbWVyYV8x/ODE2MjQtMTc3ODcu/anBnP3NlbXQ9YWlz/X2h5YnJpZA"
                alt="">
            <div class="heart-icon">
                <i class="fa-regular fa-heart fa-2xl"></i>
            </div>
            <p>Baby</p>
        </div>

        <div class="more-pets">
            <i class="fa-solid fa-paw fa-2xl"></i><br>
            <p>6 more pets available on Petfinder</p>
            <hr>
            <div class="meet-btn">MEET THEM</div>
        </div>

    </div>
</div>

<br><br>

<div class="x6">
    <img src="https://imgs.search.brave.com/jNiVBXNQlH5u9vHCp1F3ET6UKf73Sk1asZ72bSuJ2SY/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/MjQ2MTAyNy9waG90/by9hZG9wdC1hLXBl/dC1kb250LWJ1eS1p/dC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9MEhjcDhKQWRl/aTBfcUFnaHI2alFI/dHQ1dG9vN2FVeDNV/TTFSOEZSOGQyST0"
        alt="">
</div>


{% endblock %}